@use '/src/styles/mixins/flexbox';

.wrapper {
  width: 360px;
  height: 600px;
  padding: 20px;
  color: #ffffff;
  background: #131313;
  border-radius: 32px;

  nav {
    flex-direction: column;
    width: 100%;
    height: 140px;
    padding-top: 5%;

    .navContainer {
      width: 100%;
      height: 100%;

      .searchBar {
        width: 100%;
        @include flexbox.flexbox(center, center);
        margin: 5% 0;

        .search {
          width: 75%;
          padding-left: 16px;
          margin-right: 5%;
          line-height: 32px;
          color: #999999;
          background: #333333;
          border-right: none;
          border-radius: 8px;
          outline: none;
          transition: all 0.4s ease;

          &:focus {
            padding-left: 24px;
            color: #cccccc;
            background: #222222;

            &::placeholder {
              color: transparent;
            }
          }
        }

        .clickBtn {
          width: 20%;
          line-height: 32px;
          color: #999999;
          background: #333333;
          border-radius: 8px;
          outline: none;
          transition: all 0.3s ease;

          &:hover {
            color: #cccccc;
            background: #222222;
          }
        }
      }
    }
  }

  main {
    width: 100%;
    height: 360px;
    overflow: scroll;
    color: #131313;
    background: #dddddd;

    .container {
      display: flex;
      flex-direction: column;
      padding: 20px 10px;

      .listBox {
        width: 100%;

        .list {
          @include flexbox.flexbox(around, center);
          padding-bottom: 20px;
          border-bottom: 1px solid #999999;

          + .list {
            margin-top: 20px;
          }

          .movieContents {
            @include flexbox.flexbox(around, center);
          }
        }
      }
    }
  }

  footer {
    @include flexbox.flexbox(center, center);
    height: 60px;

    .tab {
      width: 100%;
      height: 100%;
      padding-top: 16px;
      @include flexbox.flexbox(around, center);

      a {
        width: 45%;
        height: 100%;
        text-decoration: none;

        li {
          width: 100%;
          height: 100%;
          font-size: 14px;
          font-weight: 100;
          color: #ffffff;
          letter-spacing: 0.05em;
          cursor: pointer;
          border-radius: 8px;
          transition: all 0.2s ease;
          @include flexbox.flexbox(around, center);

          &:hover {
            background: #333333;
          }
        }
      }
    }
  }
}
